.bony-navbar{
	height: 82px;
	background: #fff;
}

.navbar-toggle,.navbar-form{
	margin-top: 20px;
}

.navbar-collapse{
	background: #fff;
}

.navbar-brand{
	margin: 0;
	padding: 0;
	background: url(../images/logo.png);
	width: 186px;
	height: 82px;
}



.bony-navbar .navbar-nav li a{
	margin: 0;
	padding: 0 20px;
	height: 82px;
	line-height: 82px;
}

.dropdown-menu li a{
	height: 32px !important;
	line-height: 32px !important;
}