@charset "utf-8";
/* CSS Document */
body{
	font-family: '微软雅黑';
}

a:focus {
	outline:none;
}

ul,ol,p{
	margin: 0;
	padding: 0;
	list-style: none;
}


.mt10{
	margin-top: 10px;
}

.mt15{
	margin-top: 15px;
}

.mt20{
	margin-top: 20px;
}

.mt25{
	margin-top: 25px;
}

.mt30{
	margin-top: 30px;
}

.m15{
	margin: 15px;
}

.mt40{
	margin-top: 40px;
}

.pd6{
	padding: 6px;
}

.pd12{
	padding: 12px;
}

.pd24{
	padding: 24px;
}

.bg3{
	background: #009899;
}

.bg2{
	background: #FED869;
}

.bg1{
	background: #CB3366;
}

.myh1{
	font-size: 1.5em;
	padding: .25em;
	color: #000;
	text-align: center;
}

.myh2{
	font-size: 1.2em;
	padding: .5em;
	color: #000;
}

.myh2 a{
	color: #fff;
	font-size: .8em;
	text-decoration: none;
	line-height: 1.5;
	font-style: oblique;
	margin-right: .25em;
	font-family: arial;
}

.myh2 i{
	font-size: 14px;
	font-style: normal;
}

.bony-toggle{
	position: relative;
	z-index: 999999;
}


.bony-ads div{
	margin: 0 !important;
	padding: 0 !important;
}



.bony-nav .row div a{
	display: block;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

.bony-nav .row p{
	padding: 6px;
	margin: 0;
	position: relative;
}

.bony-nav .row p span{
	display: block;
	width: 70px;
	padding: 0 4px;
	height: 50px;
	line-height: 25px;
	position: absolute;
	right: 0;
	top: -25px;
	opacity: 0.9;
	color: #fff;
}

.bony-nav .row p span:hover{
	background: #f90;
}

.bony-nav .row h3{
	padding: 6px 0;
	margin: 0;
	font-size: 1.25em;
}

.bony-nav .row b{
	display: block;
	padding: 2px 0;
	font-weight: normal;	
}

.bony-nav .row b i{
	display: inline-block;
	width: 14px;
	text-align: center;
	color: #f90;
}

.bony-footer a{
	color: #666;
	text-decoration: none;
	font-size: 1em;
	display: block;
	padding: 4px 0;
}

.bony-link a{
	color: #666;
	text-decoration: none;
	font-size: 1em;
	display: block;
	text-align: center;
}



.bony-member .row a b{
	display: block;
}

.bony-member{

}

.bony-member .row {
}

.bony-member .row a{
	display: block;
	padding: 20px 0;
	margin-top: 20px;
	text-align: center;
	border: 1px solid #efefef;
}

.bony-member .row a img{
	width: 120px;
	height: 120px;
	border-radius: 100%;
	-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
	-webkit-border-radius:100%;
	-o-transition-property:width,height,-o-transform,background,font-size,opacity;
	-o-transition-duration:1s,1s,1s,1s,1s,1s;
	-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
	-moz-transition-duration:1s,1s,1s,1s,1s,1s;
	transition-property:width,height,transform,background,font-size,opacity;
	transition-duration:1s,1s,1s,1s,1s,1s;
}

.bony-member .row a img:hover{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	opacity:1;			
}


/* 会员菜单 */

.member-nav div{
	text-align: center;
	padding: 10px;
}

.member-nav a{
	display: block;
	padding: 0;
}


.face{
	width:120px; 
	height:120px; 
	margin:10px auto; 
	overflow: hidden;
	position: relative;
}
.face img{
	max-width: 100%
}

.face p{
	width:120px; 
	height:120px;
	border-radius: 100%;
	background:rgba(50,50,50,.8);
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	line-height: 120px;
	text-align: center;
	display: none;
}

.face p a{
	color: #fff;
}

.face:hover p{
	display: block;
}


/* 登录页面 */

.bony-login{
	padding: 50px 0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* 分页 */

.pages{
	text-align: center;
}

.pages a,.pages span.current{
	display: inline-block;
	padding: 0 8px;
	margin: 0 4px;
	height: 26px;
	color: #333;
	text-decoration: none;
	text-align: center;
	line-height: 26px;
}

.pages a{
	background: #efedee;
}

.pages a:hover{
	background: #F690EA;
}

.pages span.current{
	background: #E08887;
}

.pages input,.pages button{
	width: 70px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #a3a3a3;
	margin: 0 10px;
}

.pages input{
	background: #f9f9f9;
}

.pages button{
	background: #eceaeb;
}


/* 分页样式 */