.bony-member .bony-breadcrumb{
	background: #fff !important;
	font-size: 12px;
	padding: 6px 0;
}

.bony-member .bony-breadcrumb a{
	color: #575354;
	text-decoration: none;
}

.bony-member aside{
	width: 200px;
	float: left;
}

.bony-member article{
	width: 1000px;
	float: left;
}

.bony-member aside h3{
	font-size: 18px;
	width: 162px;
	margin: 0 auto;
	padding: 14px 6px;
	border-bottom: 1px solid #d9d9d9;
	color: #575354;
}

.bony-member aside ul li a{
	display: block;
	height: 32px;
	line-height: 32px;
	padding: 0 26px;
	font-size: 14px;
	color: #575354;
	text-decoration: none;
	border-left: 3px solid #fff;
}

.bony-member aside ul li a:hover , .bony-member aside ul li a.cur{
	border-left: 3px solid #ED3D0E;
	color: #ED3D0E;
}

.bony-tags{
	width: 100%;
	background: #FAFAFA;
}

.bony-tags .nav li{
	width: 25%;
	border-top: 1px solid #D6D6D6;
	border-left: 1px solid #D6D6D6;
	border-bottom: 1px solid #D6D6D6;
	border-right: none;
}

.bony-tags .nav li a{
	display: block;
	border-radius: 0;
	text-align: center;
	margin: 0 !important;
	padding: 10px 0 !important;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid #FAFAFA;
	color: #969698;
}

.bony-tags .nav li:nth-child(4){
	border-right: 1px solid #D6D6D6;
}

.bony-tags .nav li.active a{
	background: none;
	border-width:0 0 3px 0 !important; 
	border-bottom: 3px solid #CD3B3B;
}

.tab-pane{
	min-height: 300px;
}



.bony-order-list ul li{
	border: 1px solid #d7d6d6;
	background: #fff;
}

.bony-order-list ul li h5{
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #d7d6d6;
	background: #f9f9f9;
	height: 30px;
	overflow: hidden;
}

.bony-order-list ul li h5 span{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}

.bony-time{
	width: 100px;
	border-right: 1px solid #d7d6d6;
	text-align: center;
}

.bony-order{
	width: 200px;
	border-right: 1px solid #d7d6d6;
	text-align: center;
}

.bony-btn{
	float: right;
	text-align: right;
}

.bony-btn button{
	border: none;
	background: #CB3B3B;
	border-radius: 3px;
	color: #fff;
	height: 18px;
	margin: 6px;
	line-height: 18px;
	font-size: 12px;
}

.bony-order-list ul{
	margin-bottom: 30px;
}

.bony-order-list ul li{
	margin-top: 30px;
}

.bony-order-list ul li p{
	padding: 0;
	margin: 0;
	height: 90px;
	overflow: hidden;
}

.bony-order-list ul li p span{
	display: inline-block;
	height: 90px;
	line-height: 90px;
	font-size: 14px;
	overflow: hidden;
}

.bony-avatar{
	width: 90px;
	height: 90px;
}

.bony-avatar img{
	margin: 10px;
}

.bony-location{
	width: 90px;
	height: 90px;
}

.bony-location i{
	color: #CD3D3D;
	font-size: 1.25em;
}

.bony-location b{
	font-weight: 400;
	color: #484242;
}

.bony-info{
	width: 220px;
	height: 90px;
	border-right: 1px solid #d7d6d6;
}

.bony-price{
	width: 120px;
	height: 90px;
	border-right: 1px solid #d7d6d6;
	line-height: 20px;
	text-align: center;
}

.bony-price del{
	display: block;
	height: 20px;
	text-decoration: line-through;
	position: relative;
	top: -10px;
}

.bony-price b{
	display: block;
	height: 20px;
	position: relative;
	top: -10px;
}

.bony-method{
	width: 160px;
	height: 90px;
	border-right: 1px solid #d7d6d6;
	text-align: center;
}

.bony-cs{
	width: 120px;
	height: 90px;
	border-right: 1px solid #d7d6d6;
	text-align: center;
}

.bony-cs a{
	font-size: 14px;
	color: #484242;
	text-decoration: none;
}

.bony-operate{
	width: 150px;
	height: 90px;
	text-align: center;
}

.bony-operate a{
	display: block;
	border: none;
	text-decoration: none;
	background: #3F4143;
	border-radius: 3px;
	color: #fff;
	height: 30px;
	margin: 30px 10px;
	padding: 0 20px;
	line-height: 30px;
	font-size: 12px;
}